<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="https://fatihmehmetozcan.gitlab.io/icon-main/tb.png">
  <meta name="description" property="og:description" content="Fatih Mehmet Özcan's Personal site">
  <meta name="author" content="Fatih Mehmet Özcan">
  <meta name="title" property="og:title" content="Fatih Mehmet Özcan">
  <meta property="og:type" content="Personal site">
  <link rel="apple-touch-icon" sizes="180x180" href="/icon-main/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon-main/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon-main/favicon-16x16.png">
  <link rel="manifest" href="/icon-main/site.webmanifest">
  <link rel="mask-icon" href="/icon-main/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/icon-main/favicon.ico">
  <title>{{ page.title }}</title>
</head>

<body>
  <div id="container">
    {{ content }}
  </div>
</body>

</html>
